<div class="body">
  <div class="container">
    <div class="row">
      <div class="top_page_message">
        <h1 class="toppage_title">Welcome to Bookers !!</h1>
        <p>In Bookers,</p>
        <p>you can share and exchange your opinions , inpressons , and emosions</p>
        <p>about varioius books!</p>
      </div>
      <div class="sign_box">
        <ul class="sign_botton">
          <li class="log_in_botton"><%= link_to 'Log in', new_user_session_path %></li>
          <li class="sign_up botton"><%= link_to 'Sign Up', new_user_registration_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
