@import "bootstrap-sprockets";
@import "bootstrap";

.crearfix::after {
  content: "";
  display: block;
  clear: both;
}
header {
  background-color: #222;
  color: #fff
}
.header-container {
  position: fixed;
}
.nav {
  list-style: none;
}
a {
  color: #9d9d9d;
}
.notice {
  color: green;
}
.field {
  margin-bottom: 10px;
}
.header_title_box {
  font-size: 20px;
  padding-top: 10px;
  margin: 0;
}
.header_list {
  display: inline-block;
  padding: 15px;
  a:visited { color: #666;}
  a:hover { color: #fff;}
}
header_list span {
  padding: 10px, 15px;
}
.header_list_box {
  float: right;
}
.header_title_box {
  float: left;
}
.p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #9d9d9d;
  margin: 0;
}
.new_book_title {
  width: 100%;
}
.new_book_form {
  width: 100%;
  margin-bottom: 10px;
}
.new_book_botton {
  width: 100%;
}
.user_books_show {
  color: #337ab7;
}
a:hover {
  background-color: black;
}
.btn {
}
table {
}
.book_edit_field {
  width: 100%;
}
.update_book_submit .btn-primary {
  width: 100%;
  margin-bottom: 10px;
}
.col-xs-9 {
}
.col-xs-3 {
}
.new_book {
}
